@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Condensed;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 20vw;
    background: #11101d;
}
.sidebar .logo-details{
    height: 8vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-details i{
    font-size: 3vw;
    color: #fff;
    background: red;
    height: 50px;
    min-width: 78px;
}
.sidebar .logo-details .logo_name{
    font-size: 4vw;
    color: #fff;
    font-weight: 600;
}