body {
    display: flex;
    flex-wrap: wrap;
}

.center_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 75vw;
    margin-top: 8vh;
    margin-left: 3vw;
    text-align: center;
    border: 2px solid blue;
    background: blue;
    border-radius: 10px;
}

.insert_block {
    border: 1px solid purple;
    background: purple;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    justify-self: center
}

.filter_block {
    border: 1px solid green;
    background: green;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    justify-self: center
}

.table_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75vw;
    margin-top: 10px;
    margin-left: 3vw;
    border: 2px solid red;
    background: red;
    border-radius: 10px;
}

.delete_block {
    border: 2px solid yellow;
    background: yellow;
    border-radius: 10px;
}

footer {
    justify-self: center;
    padding: 10px;
    margin-top: 20vh;
    width: 95%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

table {
    border: 1px solid black;
}

table th {
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}

table tr:hover {}