html,
body {
    height: 100%;
    margin: 0;
}

body {

    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    background-image: url("../Images/Dashboard_bg_img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    width: 75vw;
    margin-top: 0.5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    text-align: center;
    border: 0.2px solid black;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

.insert_block {
    border: 0.2px solid black;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    justify-self: center
}

.filter_block {
    border: 0.2px solid black;
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    justify-self: center;
}

.table_block {
    display: flex;
    justify-content: center;
    /* center when table fits */
    align-items: center;
    overflow-x: auto;
    /* enable horizontal scroll */
    width: 75vw;
    margin: 0.5vh 3vw 3vh 3vw;
    border: 0.2px solid black;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}


.delete_block {
    border: 0.2px solid black;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}

#sales_chart-div,
.autokinhta_num-div,
.sunthrish_num-div,
.center_block {
    backdrop-filter: blur(10px);
}

footer {
    justify-self: center;
    padding: 10px;
    margin-top: 20vh;
    width: 95%;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}

table {
    width: max-content;
}


table th {
    border: 1px solid black;
}

table td {
    border: 1px solid black;
}

#sales_chart-div {
    width: max-content;
    height: max-content;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.autokinhta_num-div {
    width: 300px;
    height: 200px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sunthrish_num-div {
    min-width: 20vw;
    height: 150px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 1;
    }

    .center_block,
    .table_block {
        width: 90vw;
        margin-left: 5vw;
    }

    #sales_chart-div,
    .autokinhta_num-div {
        margin-left: 5vw;
    }


    #sales_chart-div,
    .autokinhta_num-div,
    .sunthrish_num-div {
        overflow-x: auto;
        justify-content: center;
        align-items: center;
    }

}

@media (max-width:675px) {
    .table_block {
        justify-content: flex-start;
    }

}